# Ignorar as matrizes
*.bin

# Ignorar binários do C
ThreadsC/multiplicador
ThreadsC/multiplicador_aut

# Ignorar classes compiladas do Java
*.class
java/*.class

#ignorar arquivos de métricas
*.csv

# Ignorar imagens
*.png

#ignorar configs do vscode
.vscode/

#Ignorar arqivos apple
.DS_Store

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


